<div id="topbar">
    <button class="action-button esri-icon-polyline" id="polylineButton" type="button" title="Draw polyline"></button>
    <button class="action-button esri-icon-trash" id="resetBtn" type="button" title="Clear graphics"></button>
</div>